@import 'tailwindcss';

@theme {
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.btn-primary {
  @apply text-white inline-flex items-center  bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}

.form-input {
  @apply px-5 py-2.5 bg-[#f1f1f1] border border-gray-300 text-gray-900 text-base rounded-lg border-2 focus:ring-gray-400 focus:border-gray-400 w-full focus-visible:ring-gray-400 focus:outline-hidden;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Elimina spinners en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}